@model DevBank.Models.ViewModels.IPageViewModel<DevBank.Models.Pages.StandardPage>

<!DOCTYPE html>

<html>
<head>
    <title>The Dev Bank</title>
    <link href="~/Static/css/main.css" rel="stylesheet" />
</head>
<body>
    <div>

        @{
            if (Model.CurrentUser != null)
            {
                <div>Hello @Model.CurrentUser.FirstName @Model.CurrentUser.LastName!</div>
            }
        }

    </div>
    <div>
        @Html.PropertyFor(model => model.CurrentPage.MainBody)
    </div>

    <div>
        @using (Html.BeginForm("Send", "Standard", FormMethod.Post, new { id = "my-example-form"}))
        {
            @Html.AntiForgeryToken()

            @Html.TextBox("SocialSecurityNumber")

            <div>
                <input type="submit" value="Log in" />
            </div>
        }

    </div>
</body>
</html>