@model DevBank.Models.ViewModels.IPageViewModel<DevBank.Models.Pages.StandardPage>

<!DOCTYPE html>

<html>
<head>
    <title>The Dev Bank</title>
    <link href="~/Static/css/main.css" rel="stylesheet" />
</head>
<body>

    <div>
        @Html.PropertyFor(model => model.CurrentPage.MainBody)
    </div>

    <div>
        @using (Html.BeginForm("Send", "Standard", FormMethod.Post, new { id = "my-example-form" }))
        {
            @Html.AntiForgeryToken()

            @Html.TextBox("SocialSecurityNumber")

            <div>
                <input type="submit" value="Log in" />
            </div>
        }

    </div>

    <div id="current-user-name">@Model.CurrentUser.FirstName @Model.CurrentUser.LastName</div>




    @*<script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Static/js/devbank.js"></script>
    <script>
        $(document).ready(function () {
            devbank.hijack('#my-example-form', '#current-user-name');
        });
    </script>*@
</body>
</html>