@model InternetBank.Models.Pages.StandardPage

<!DOCTYPE html>

<html>
    <head>
        <title>The Internet Bank</title>
        <link href="~/Content/css/main.css" rel="stylesheet" />
    </head>
    <body>
        <div>
            
            @{
                if (ViewBag.Customer != null)
                {
                    <div>Hej @ViewBag.Customer.FirstName @ViewBag.Customer.LastName!</div>
                }
            }
            
        </div>
        <div>
            @Html.PropertyFor(model => model.MainBody)
        </div>
        
        <div>
            @using (Html.BeginForm("Send", "Standard", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                
                @Html.TextBox("SocialSecurityNumber")
                
                <div>
                    <input type="submit" value="Logga in" />    
                </div>
            }

        </div>
    </body>
</html>